body {
  margin: 50px;
}

img {
  border-style: solid;
  border-color: lightblue;
  border-radius: 5%;
}
.card {
  text-align: center;
  display: inline-block;
  border-radius: 5%;
  height: 30%;
  max-height: 30%;
}

.prevbutton {
  z-index: 99;
  position: absolute;
  left: 225px;
  top: 130px;

}

.nextbutton {
  z-index: 98;
  position: absolute;
  right: 225px;
  top: 130px;
}